@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* base styles */
* {
  background-color: #eee;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.navbar {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  background-color: #ffffff;
  color: #67CE67;
  font-family: "Roboto";
  font-weight: 100;
}
.navbar span {
  background-color: #ffffff;
}
.navbar .links {
  background-color: #ffffff;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #67CE67;
}
.content {
  max-width: 600px;
  margin: 5% auto;
  padding: 0px 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #67CE67;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 16px;
  color: #67CE67;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #67CE67;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.name_style{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  font-weight: 500;
}
.create h2 {
  font-size: 20px;
  color: #67CE67;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #3b3b3b;
  box-sizing: border-box;
  display: block;
}
.create button {
  
  background: #67CE67;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Form */
.form-control_0{
  border-radius: 5px;

  height: 55px;
  background-color: #fff;
}
.form-control{
  border-radius: 5px;
  height: 174px;
  background-color: #fff;
}